<div>
    <canvas id="myChart" style="height:20vh; width:60vw"></canvas>
    <canvas id="myChart2" style="height:20vh; width:60vw"></canvas>
    <canvas id="myChart3" style="height:20vh; width:60vw"></canvas>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  

  <script>
    const nbPoints=1000
    var dataX=Array(0);
        
    var dataY=Array(0);

    for (let i=0; i< nbPoints;i++) {
        dataX[i]=i;
        //dataY [i]= Math.random()*50 +450 + Math.floor(Math.sin(i*0.02) * 450);
        dataY [i]=Math.sin(i*0.02) * 450
    };

    var ctx = document.getElementById('myChart');
    var ctxx = document.getElementById('myChart2');
    var ctxxx = document.getElementById('myChart3');
    var i = 0;
    var labels = Array(0);
    var datas=Array(0);
    var data = {
        labels: labels,
        datasets: [{
        label: 'Premier test',
        data: datas,
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
    }],
        i:0,
};
var newLabels=Array(0);
var newData=Array(0);



function addData(chart1,chart2,chart3) {
 


    // Régénération de données si on dépasse 1000 points
    if(chart1.data.i>nbPoints){
        
        chart1.data.i=0;
           // myChart2.data.i=0;
        for (let i=0; i< nbPoints;i++) {
            
            dataX[i]=i;
            dataY [i]=Math.random()*50 +450 + Math.floor(Math.sin(i*0.02) * 450);
            
        };
    };
    




    //Méthode basique
    for (let i=0; i< 10;i++) {
        chart1.data.labels[i+chart1.data.i]=dataX[i+chart1.data.i]
        chart1.data.datasets[0].data[i+chart1.data.i]=dataY[i+chart1.data.i]
        chart2.data.labels[i+ chart2.data.i]=dataX[i+ chart2.data.i]
        chart2.data.datasets[0].data[i+ chart2.data.i]=dataY[i+ chart2.data.i]
        chart3.data.labels[i+chart3.data.i]=dataX[i+chart3.data.i]
        chart3.data.datasets[0].data[i+chart3.data.i]=dataY[i+chart3.data.i]
    };


        //methode splice : Data
        // newLabels=dataX.slice(chart.data.i,chart.data.i+10);
        // newData=dataY.slice(chart.data.i,chart.data.i+10);
        
        //methode splice : Updating data

        // chart.data.labels.splice(chart.data.i,10,...newLabels);
        // chart.data.datasets[0].data.splice(chart.data.i,10,...newData);
    chart1.update();
    chart2.update();
    chart3.update();
    chart1.data.i+=10;
    };



	const config = {
      type: 'line',
      data:data,
	  options: {
        scales: {
            x: {
				type : 'linear',
				min : 0,
                max: nbPoints,
            },
			y: {
				type : 'linear',
				min : 0,
                max: 1000,
            },
			
        },
        animation: false,
        spanGaps: true,
        elements: {
            point: {
                radius: 0 // default to disabled in all datasets
            }
        },
        responsive:false,
        normalized: true,
    }
		
    

    };
	
    const myChart= new Chart(ctx,config);
    const myChart2= new Chart(ctxx,config);
    const myChart3= new Chart(ctxxx,config);
    
    // myChart.data.labels.push(0);
    // myChart.data.datasets[0].data.push(0);
    // myChar.update()
    // var myChart2= new Chart(ctxx,config);

    
	//addData(myChart,2,3)





	setInterval(function() {addData(myChart,myChart2,myChart3)}, 50);
    //Mesure de FPS
    javascript:(function(){var script=document.createElement('script');script.onload=function(){var stats=new Stats();document.body.appendChild(stats.dom);requestAnimationFrame(function loop(){stats.update();requestAnimationFrame(loop)});};script.src='https://mrdoob.github.io/stats.js/build/stats.min.js';document.head.appendChild(script);})()

 </script>
